
.ok-button{
    display: inline-block;
    //width: 40px;
    height: 56px;
    padding: 10px 20px;
    font-size: 16px;
    color:#3399ff;
    cursor: pointer;
    i {
        color: #3399ff;
        font-size: 30px;
    } 
}